@import '../../assets/styles/index.scss';

.productWrapper {
  padding-bottom: 40px;
}

.titleWrapper {
  position: relative;
}

.title {
  padding: 30px 0px;

  text-align: center;
}

.buttonEdit {
  position: absolute;
  top: 50%;
  right: 0;

  margin-bottom: 20px;
  padding: 8px 16px;

  height: 50px;

  transform: translateY(-50%);

  background-color: var(--text-green-color);
  border: 0px;
  border-radius: 4px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;

  &:active {
    background-color: rgb(35, 179, 147);
  }

    @include mq(tab) {
      padding: 10px 20px;
    }
  
    @include mq(desk) {
      height: 50px;
      padding: 13px 94px;
    }
}
