.sectionWrapper {
  margin-top: 50px;
  min-height: 200px;

  padding: 20px;

  background-color: #fff;
  border-radius: 15px;
}

.commentsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  min-height: 150px;
}

.titleComments {
  padding-bottom: 15px;
  text-align: center;
}

.listComments {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.itemComment {
  position: relative;

  padding: 5px 10px;

  background: var(--text-green-color);
  color: #fff;
  border-radius: 5px;
}

.description {
  font-size: 18px;
}

.date {
  font-size: 12px;

  text-align: right;
}

.form {
  position: relative;

  margin-top: 10px;
}

.btnSubmit {
  position: absolute;
  bottom: 3px;
  right: 10px;

  padding: 3px 10px;

  background: var(--text-green-color);
  color: #fff;
  border: none;
  border-radius: 5px;

  &:hover,
  :focus {
    background-color: var(--background-green-hover-color);
  }
}

.buttonDelete {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: -8px;
  right: -8px;

  width: 30px;
  height: 30px;

  background-color: var(--text-red-color);
  border: none;
  border-radius: 50%;

  &:hover,
  :focus {
    background-color: var(--background-red-hover-color);
  }
}
