.label {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.inputTitle {
  font-size: 16px;
}

.inputField {
  padding: 5px 10px;

  border: 1px solid rgb(35, 179, 147);
  border-radius: 5px;
}