@import '../../assets/styles/index.scss';

.titleWrapper {
  position: relative;
}

.title {
  padding: 30px 0px;

  text-align: center;
}

.buttonAdd {
  position: absolute;
  top: 50%;
  right: 0;

  margin-bottom: 20px;
  padding: 13px 94px;

  height: 50px;

  transform: translateY(-50%);

  background-color: var(--text-green-color);
  border: 0px;
  border-radius: 4px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;

  &:active {
    background-color: rgb(35, 179, 147);
  }
}

.dropWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;

  position: absolute;
  top: 20px;
  left: 0;
}

.buttonDrop {
  padding: 13px 20px;

  font-size: 16px;
  letter-spacing: 0.1em;

  color: white;

  background-color: var(--text-red-color);
  border: 0px;
  border-radius: 4px;

  cursor: pointer;
}

