@import '../../assets/styles/index.scss';

.titleWrapper {
  position: relative;
}

.title {
  padding: 30px 0px;

  text-align: center;
}

.buttonAdd {
  position: absolute;
  top: 50%;
  right: 0;

  margin-bottom: 20px;
  padding: 4px 8px;

  height: 40px;

  transform: translateY(-50%);

  background-color: var(--text-green-color);
  border: 0px;
  border-radius: 4px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;

  &:active {
    background-color: rgb(35, 179, 147);
  }

  @include mq(mob-only) {
    font-size: 8px;
  }

  @include mq(tab) {
    padding: 10px 20px;
  }

  @include mq(desk) {
    height: 50px;
    padding: 13px 94px;
  }
}

.dropWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;

  position: absolute;
  top: 28px;
  left: 0;

  @include mq(tab) {
    top: 30px;
  }

  @include mq(desk) {
    top: 20px;
  }
}

.buttonDrop {
  padding: 5px 5px;

  height: 40px;

  font-size: 16px;
  letter-spacing: 0.1em;

  color: white;

  background-color: var(--text-red-color);
  border: 0px;
  border-radius: 4px;

  cursor: pointer;

  @include mq(mob-only) {
    font-size: 9px;
  }

  @include mq(tab) {
    padding: 10px 20px;
  }

  @include mq(desk) {
    height: 50px;
    padding: 13px 20px;
  }
}
